<html ng-app="angularApp">
    <head>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/index.css" />
        <script src="lib/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body ng-controller="IndexController">
		<div id="grid">
            <table>
            <tr>
                <td></td>
                <td ng-class="{highlight: column.highlight}" ng-repeat="column in columns" valign="middle"><strong>{{ column.value }}</strong></td>
            </tr>
                <tr ng-repeat="row in rows">
                    <td ng-class="{highlight: row.highlight}"><strong>{{ row.value }}</strong></td>
                    <td ng-repeat="column in columns" valign="middle">
                        <div class="main-div">
                            <div ng-if="models['result-'+row.value+'-'+column.value].shouldShow">
                                {{ row.value * column.value }}
                            </div>
                            <div ng-if="!models['result-'+row.value+'-'+column.value].shouldShow">
                                <input ng-click="highligthValues(column, row)" ng-style="{color: models['result-'+row.value+'-'+column.value].value == row.value * column.value ? 'green' : 'red'}" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"  type="text" value="?" ng-model="models['result-'+row.value+'-'+column.value].value" ng-change="checkResult(row.value, column.value)" placeholder="?" id="answer-{{ row.value }}-{{ column.value }}" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <script src="js/app.angular.js"></script>
    </body>
</html>
