table {
	width: 99%;
	margin:auto;
	margin-top: 20px;
}
td {
	width: 10%;
	min-width: 10%;
	max-width: 10%;
	height: 50px;
	min-height: 50px;
	border: solid 1px #333;
	text-align:center;
	height: 50px;
}


input {
	min-width: 10%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}

.main-div {
	width: 100%;
	display: block;
}

.highlight {
	background-color: green !important;
	color: #fff;
}

input::placeholder {
	color: red;
	font-weight: bold;
}
